<span *ngIf="currentUser">
  <h3><b><i>Hi, {{currentUser.firstName}}!</i></b></h3>
</span>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="raised-block" *ngIf="ptImgSrcs[0]">
        <a href="view-photo-details">
          <img src="{{ptImgSrcs[0]}}"
               alt="Panoramic Trekking photo (1 of 9 shown)"
               width="340"
               height="300"
          />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="raised-block" *ngIf="ptImgSrcs[1]">
        <a href="view-photo-details">
          <img src="{{ptImgSrcs[1]}}"
               alt="Panoramic Trekking photo (2 of 9 shown)"
               width="340"
               height="300"
          />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="raised-block" *ngIf="ptImgSrcs[2]">
        <a href="view-photo-details">
          <img src="{{ptImgSrcs[2]}}"
               alt="Panoramic Trekking photo (3 of 9 shown)"
               width="340"
               height="300"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="raised-block" *ngIf="ptImgSrcs[3]">
        <a href="view-photo-details">
          <img src="{{ptImgSrcs[3]}}"
               alt="Panoramic Trekking photo (4 of 9 shown)"
               width="340"
               height="300"
          />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="raised-block" *ngIf="ptImgSrcs[4]">
        <a href="view-photo-details">
          <img src="{{ptImgSrcs[4]}}"
               alt="Panoramic Trekking photo (5 of 9 shown)"
               width="340"
               height="300"
          />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="raised-block" *ngIf="ptImgSrcs[5]">
        <a href="view-photo-details">
          <img src="{{ptImgSrcs[5]}}"
               alt="Panoramic Trekking photo (6 of 9 shown)"
               width="340"
               height="300"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="raised-block" *ngIf="ptImgSrcs[6]">
        <a href="view-photo-details">
          <img src="{{ptImgSrcs[6]}}"
               alt="Panoramic Trekking photo (7 of 9 shown)"
               width="340"
               height="300"
          />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="raised-block" *ngIf="ptImgSrcs[7]">
        <a href="view-photo-details">
          <img src="{{ptImgSrcs[7]}}"
               alt="Panoramic Trekking photo (8 of 9 shown)"
               width="340"
               height="300"
          />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="raised-block" *ngIf="ptImgSrcs[8]">
        <a href="view-photo-details">
          <img src="{{ptImgSrcs[8]}}"
               alt="Panoramic Trekking photo (9 of 9 shown)"
               width="340"
               height="300"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>

<hr>

<br/>
<br/>

<section class="section-preview">
  <div class="row">
    <div class="col-md-12">

      <div id="mdb-lightbox-ui"><!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" style="">

          <!-- Background of PhotoSwipe.
                 It's a separate element, as animating opacity is faster than rgba(). -->
          <div class="pswp__bg" style=""></div>

          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container" style="transform: translate3d(0px, 0px, 0px);">
              <div class="pswp__item" style="display: block; transform: translate3d(-1080px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(0px, 152px, 0px) scale(1);"><img class="pswp__img pswp__img--placeholder" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(151).jpg" style="width: 964px; height: 643px; display: none;"><img class="pswp__img" src="https://mdbootstrap.com/img/Others/documentation/img%20(151)-mini.jpg" style="width: 964px; height: 643px;"></div></div>
              <div class="pswp__item" style="transform: translate3d(0px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(628.547px, 441.781px, 0px) scale(0.270893);"><img class="pswp__img pswp__img--placeholder" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg" style="width: 964px; height: 643px; display: none;"><img class="pswp__img" src="https://mdbootstrap.com/img/Others/documentation/img%20(40)-mini.jpg" style="display: block; width: 964px; height: 643px;"></div></div>
              <div class="pswp__item" style="display: block; transform: translate3d(1080px, 0px, 0px);"><div class="pswp__zoom-wrap" style="transform: translate3d(0px, 152px, 0px) scale(1);"><img class="pswp__img pswp__img--placeholder" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(148).jpg" style="width: 964px; height: 643px; display: none;"><img class="pswp__img" src="https://mdbootstrap.com/img/Others/documentation/img%20(148)-mini.jpg" style="width: 964px; height: 643px;"></div></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--fit pswp__ui--hidden">

              <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter">6 / 9</div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div>
              </div>

              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>

              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>

              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>
            </div>
          </div>
        </div></div>

      <div class="mdb-lightbox" data-pswp-uid="1">
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Others/documentation/img%20(145)-mini.jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(145).jpg" alt="placeholder" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Others/documentation/img%20(150)-mini.jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" alt="placeholder" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Others/documentation/img%20(152)-mini.jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg" alt="placeholder" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Others/documentation/img%20(42)-mini.jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg" alt="placeholder" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Others/documentation/img%20(151)-mini.jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(151).jpg" alt="placeholder" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Others/documentation/img%20(40)-mini.jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg" alt="placeholder" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Others/documentation/img%20(148)-mini.jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(148).jpg" alt="placeholder" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Others/documentation/img%20(147)-mini.jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="placeholder" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Others/documentation/img%20(149)-mini.jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(149).jpg" alt="placeholder" class="img-fluid">
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
