<!--
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<br/>
-->

<br/>

<!--
<span *ngIf="currentUser">
  <h1>Hi {{currentUser.firstName}}!</h1>

  <p>You're logged into Panoramic Trekking!!</p>
</span>
-->

<span *ngIf="! currentUser">
  <h1>Hi ANONYMOUS!</h1>
</span>

<br/>
<h3>[All your photos will be displayed here]</h3>
<!--
<ul>
    <li *ngFor="let user of users">
       <span *ngIf="user && user.firstName && user.lastName">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
       </span>
    </li>
</ul>
-->
