<!-- nav -->
<nav class="navbar navbar-expand"
     *ngIf="currentUser">
  <div class="navbar-nav">
    <button mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
      <br/>
      <!-- <mat-icon>more_horiz</mat-icon> -->
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload a photo</span>
      </button>
      <button mat-menu-item>
        <mat-icon>search</mat-icon>
        <span>Search for a photo</span>
      </button>
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Manage personal details</span>
      </button>
    </mat-menu>

    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container" [ngSwitch]="isLoginPage">
    <div *ngSwitchCase="true">
      <div style="text-align: center;"><h1>PANORAMIC TREKKING</h1></div>
      <br/>
      <br/>
      <router-outlet></router-outlet>
    </div>
    <div *ngSwitchCase="false">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <!-- Highlight Card -->
          <div class="card highlight-card card-small" style="text-align: center;">
            <span class="pt-header">Panoramic Trekking</span>
          </div>

          <alert></alert>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
