<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark"
     *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container" [ngSwitch]="isLoginPage">
    <div *ngSwitchCase="true">
      <router-outlet></router-outlet>
    </div>
    <div *ngSwitchCase="false">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <!-- Highlight Card -->
          <div class="card highlight-card card-small" style="text-align: center;">
            <span class="pt-header">Panoramic Trekking</span>
          </div>

          <alert></alert>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
