<style>

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .photo-description-text {
    font-family: Garamond,"Times New Roman", sans-serif;
    font-style: italic;
    font-size: 14px;
  }

  .tag-button-row,
  .tag-button-row button {
    margin-right: 8px;
    margin-top: 5px;
  }

  .tag-material-buttons {
    height: 28px!important;
    min-height: unset!important;
  }

</style>

<nav>
  <!-- ############################################ -->
  <!-- ############################################ -->
  <!-- @TODO: Fix these as applicable for new pages -->
  <!-- ############################################ -->
  <!-- ############################################ -->

  <!--
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  -->
</nav>

<!-- Toolbar -->
<!--
<div class="toolbar" role="banner">

  <div class="spacer"></div>
  <a aria-label="Angular on twitter"
     target="_blank"
     rel="noopener"
     href="https://twitter.com/angular"
     title="Twitter">
  </a>
</div>
-->

<div class="content" role="main">

  <div id="exampleAngularMaterialCard">
    <mat-card class="pt-photo-card">
      <mat-card-header>
        <div mat-card-avatar
             class="header-user-avatar-image">
          <br/>
          <div class="username-near-avatar">
            MicG
          </div>
        </div>
        <mat-card-title>16th Century Monastery, Solovetsky Islands, Russia</mat-card-title>
        <mat-card-subtitle>
          <div class="tag-button-row">
            <!-- Tag keywords go here -->
            <button mat-stroked-button class="tag-material-buttons" color="primary">Russia</button>
            <button mat-stroked-button class="tag-material-buttons" color="accent">Solovetsky Islands</button>
            <button mat-stroked-button class="tag-material-buttons" color="primary">Island</button>
            <button mat-stroked-button class="tag-material-buttons" color="accent">Monastery</button>
          </div>
        </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image
           src="/assets/images/16thCenturyMonastery_Solovetsky_Islands_1of2.jpg"
           alt="Photo of 16th Century Monastery, Solovetsky Islands">
      <mat-card-content>
        <p class="photo-description-text">
          The Solovetsky Islands, or Solovki, are an archipelago located in the Onega Bay of the White Sea, Russia.
          As an administrative division, the islands are incorporated as Solovetsky District of Arkhangelsk Oblast,
          Russia. [Source: Wikipedia]
          <br/>
          The Solovetsky Monastery is a fortified monastery located on the Solovetsky Islands in the White Sea in
          northern Russia. It was one of the largest Christian citadels in northern Russia before it was converted
          into a Soviet prison and labor camp in 1926–39, and served as a prototype for the camps of the Gulag
          system. [Source: Wikipedia]
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="card-action-icons">
          <button mat-button>
            <img src="/assets/images/facebook.svg" alt="Share to Facebook" width="24" height="24" />
          </button>

          <button mat-button>
            <img src="/assets/images/email.svg" alt="Email to Friend/s" width="24" height="24" />
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="freepix-attribution-area">
    <p class="freepix-attribution-text">
      <strong><em>Icons made by&nbsp;</em></strong>
      <a class="freepix-attribution-link" href="https://www.freepik.com/home"><strong><em>Freepik</em></strong></a>
      <strong><em>&nbsp;from&nbsp;</em></strong><strong><em>
      <a class="freepix-attribution-link" href="http://www.flaticon.com/">www.flaticon.com</a></em>
    </strong>
    </p>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
